/* General Styles */
html, body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .main-container {
    background-color: #f3f3f3;
    min-height: 100vh;
  }

.Azul-Oscuro {
  background: linear-gradient(135deg, #1E45BB, #0f172a);
}
.Azul-Claro {
  background: linear-gradient(135deg,#65abf7, #007bff);
}
footer {
  background: #343a40;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  margin-top: auto;
}
.tienda-container {
  flex: 1; /* Ocupa todo el espacio disponible */
}
#rootspace {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}