/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .main-container {
    background-color: #f3f3f3;
    min-height: 100vh;
  }

.Azul-Oscuro {
  background: linear-gradient(135deg, #1E45BB, #0f172a);
}